<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dicebear Avatar Generator</title>
    <link rel="icon" href="/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Avatar Generator</h1>
<div class="avatar-container">
    <img    id="avatar"
            src="https://api.dicebear.com/9.x/lorelei/svg?seed=sophia"
            alt="avatar"/>


</div>
    <button id="btnAvatar">새로운 아바타 생성하기</button>
<script>
    function loadAvatar() {
        const seed = Math.random().toString(36).substring(2,15);
        //0~1 사이 랜덤 소수값 생성
        // 36진수 변환
        // substring(2,15) 0. 부분을 제거하고 길이 13제한해서 가져옴
        const url=`https://api.dicebear.com/9.x/lorelei/svg?seed=${seed}`;

        $("#avatar").attr('src',url);

    }
    $("#btnAvatar").click(
        function(){
                loadAvatar();
        }
    )



</script>
</body>
</html>